body {
    background-color: #eee;
    font-family: Lato, sans-serif;
    
}

#header-img {
    width: 300px;
    height: auto;
    padding-left: 25px;
}

#nav-bar {
    background-color: #eee;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

#nav-list {
  width: 45vw;  
  display: flex;
  justify-content: space-evenly;
}

.nav-list-item {
    list-style-type: none;
}

.nav-list-item > a {
    font-weight: 400;
    color: black;
    text-decoration: none;
}

.nav-list-item > a:hover {
    color: black;
    text-decoration: underline;
}

#first-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    height: 225px;
}

#first-section > h2 {
    font-weight: bold;
    font-size: 1.5em;
}

form {
    display: flex;
    flex-direction: column;
}

#email {
    padding: 5px;
    width: 275px;
    margin-bottom: 15px;
}

#submit {
    background-color: #f1c40f;
    width: 150px;
    height: 30px;
    margin: auto;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1em;
    border: none;
}

.feature-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.icon {
    color: darkorange;
    margin-right: 75px;
}

.feature-text > h2 {
    margin-bottom: 0;
}

.feature-text > p {
    margin-top: 0;
    width: 40vw;
}

#HowItWorks {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#Pricing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 70px;
}

/* Cards styling */
.card {
    border: 1px solid black;
    width: 300px;
}

.card-title {
    background-color: #DDDDDD;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    justify-content: center;
    padding: 15px 0 15px 0;
}

.card-body {
   text-align: center;
}

.price {
    font-size: 24px;
    font-weight: 700;
}

.select-btn {
    background-color: #f1c40f;
    font-weight: 400;
    height: 40px;
    padding: 0 20px;
    font-size: 1em;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    text-transform: uppercase;
}

.card:first-of-type {
    margin-right: 15px;
}

.card:last-of-type {
    margin-left: 15px;
}


/* Styling for the footer */
#footer {
    background-color: #DDDDDD;
    height: 50px;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 20px;
    
}

#footer-links {
    display: flex;
    justify-content: flex-end;
}

#footer-links > a {
    padding: 0 10px;
    color: black;
    text-decoration: none;
}

#footer-links > a:hover {
    text-decoration: underline;
}

#footer > div {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}

#copyright-txt {
    color: #444444;
    font-size: 14px;
}

/* Media queries */
@media screen and (max-width: 640px) {

    body {
        width: 100%;
    }

    #nav-bar {
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #nav-list {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #header-img {
        width: 300px;
        height: 100%;
        padding-left: 0;
    }

    #first-section {
        height: 300px;
    }

    #first-section > h2 {
        text-align: center;
    } 

    .feature-section > i {
        display: none;
    }

    .feature-text {
        text-align: center;
    }

    .feature-text > p {
        width: 100%;
    }

    #HowItWorks {
        width: 100%;
        padding: 0;
    }

    #Pricing {
        display: inherit;
        padding: 0 20px;
    }

    .card {
        margin-bottom: 20px;
        width: 100%;
    }

    .card:first-of-type {
        margin-right: 0;
    }
    
    .card:last-of-type {
        margin-left: 0;
    }
}